@import "tailwindcss";

/* Clerk use button increase size  */

.cl-avatarBox {
  width: 3rem;
  height: 3rem;
}

.first-letter-gradient::first-letter {
  @apply bg-linear-to-r from-red-500 to-purple-500 bg-clip-text text-transparent;
}
